In [1]:
#importing necessary libraries
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#creating a dataframe using dictionary
k={'Height':[150,155,160,157,162,165,168,170,140,145,175,178,180],'Weight':[50,52,54,58,62,63,66,68,45,47,70,72,73]}
df=pd.DataFrame(k)
df

    Height  Weight
0      150      50
1      155      52
2      160      54
3      157      58
4      162      62
5      165      63
6      168      66
7      170      68
8      140      45
9      145      47
10     175      70
11     178      72
12     180      73

In [66]:
#feature selection/ dividing dataset into independent(predator) and dependent(target) variable
x=df[['Height']]
y=df['Weight']

In [67]:
#importing linear regression from scikit learn module
from sklearn.linear_model import LinearRegression

In [68]:
#creating or naming the model
model=LinearRegression()

In [69]:
model.fit(x,y) #training the model with necessary data

LinearRegression()

In [70]:
#checking data accuracy
model.score(x,y)

0.9704675595479397

In [71]:
#real time prediction
model.predict([[175]])

array([65.80225129])

In [72]:
#real time prediction
model.predict([[151]])

array([53.9596298])

In [75]:
k={'Height':[40,50,60,70,80,90,100,110,120,130,140,150,155,160,157,162,165,168,170,140,145,175,178,180],'Weight':[6,8,11,14,18,22,26,30,34,40,45,50,52,54,58,62,63,66,68,45,47,70,72,73]}
df=pd.DataFrame(k)
df.head()

   Height  Weight
0      40       6
1      50       8
2      60      11
3      70      14
4      80      18

In [74]:
model.predict([[40]])

array([-0.81249457])

In [76]:
model.coef_

array([0.49344256])

# Multilinear regression

In [79]:
#loading the data from csv file
df=pd.read_csv("FuelConsumption.csv")
df.head()

,MODEL_Year,MAKE,MODEL,VEHICLE CLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUEL,FUELCONSUMPTION,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,9.8,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,300
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,244

In [80]:
#feature selection/ dividing dataset into independent(predator) and dependent(target) variable
x=df[['ENGINESIZE','CYLINDERS','FUELCONSUMPTION']]
y=df['CO2EMISSIONS']

In [81]:
#creating or naming the model
model=LinearRegression()

In [82]:
#training the model with necessary data
model.fit(x,y)

LinearRegression()

In [83]:
#checking data accuracy
model.score(x,y)

0.8965229943161643

In [86]:
#real time predicition
model.predict([[2.4,4,11.2]])

array([220.69543699])

In [85]:
model.coef_

array([ 3.87154373,  5.18993805, 12.68431975])

In [89]:
x=df[['ENGINESIZE','CYLINDERS','FUELCONSUMPTION']]
y=df['CO2EMISSIONS']

# Method by diving data into train and test data in multilinear regression

In [88]:
#for spliting training and test data
from sklearn.model_selection import train_test_split

In [90]:
# assigning train and test data randomly with some size
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [92]:
model=LinearRegression()

In [93]:
model.fit(x_train,y_train)

LinearRegression()

In [96]:
model.score(x_train,y_train)

0.9307988732706614

In [103]:
#values predicted by your model
pred=model.predict(x_test)
pred

array([342.1085967 , 251.57929745, 296.08751408, 239.76673595,
       322.67364813, 353.68162207, 240.17908063, 336.23861176,
       196.90002738, 235.45579013, 283.94507683, 330.04862839,
       327.10335869, 223.64322863, 166.05699131, 253.63315019,
       247.14958688, 250.10272726, 213.18847257, 390.02060084,
       455.56496502, 266.83981294, 334.31340108, 209.28987144,
       260.43871857, 330.04862839, 322.67364813, 283.08208501,
       313.80635633, 254.53243782, 342.1085967 , 300.18734889,
       223.64322863, 296.08751408, 213.30723732, 259.45696201,
       219.21351807, 243.132221  , 207.40095656, 239.76673595,
       264.86842914, 207.40095656, 231.02607957, 370.8251884 ,
       257.98039182, 301.66391908, 262.49257132, 390.02060084,
       296.08751408, 193.61701126])

In [101]:
#actal values
y_test.head()

18     354
170    253
107    292
98     237
177    340
Name: CO2EMISSIONS, dtype: int64

In [106]:
from sklearn import metrics

In [108]:
#real time accuracy
metrics.r2_score(pred,y_test)

0.787001649440016